*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background:linear-gradient(50deg,rgba(6, 6, 78, 0.247),rgba(81, 136, 207, 0.774)) ;
    overflow: hidden;
}

main{
    background-color: black;
    color: white;
    display: flex;
    width: 80%;
    height: 30vh;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 20px 20px white 0.8;
    gap: 4%;
    overflow: hidden;
    font-size: 2.5rem;
   
}

.time{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20%;
}

.space::after{
    content: ":";
    margin-bottom: 16px;
}


.time{
    text-align: center;
}

.text{
    font-size: 0.55rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.527);
}


@media screen and (max-width: 468px) {
    main{
        width: 95%;
        font-size: 2rem;
    }

    .space:first-of-type{
        margin-left: 10px;
    }
    .space:first-of-type::after{
        margin-right: 15px;
    }

    
    
}
